.centeredTwo {
    min-height: calc(100vh - 100px);
    align-items: center;
}
.titleParagraph {
    font-size: 18px;
    color: #286f9b;
}
.title {
    color: #3f4367;
    font-size: 3.7vw;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    line-height: 1;
    letter-spacing: 0px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
  }
  .chevron {
    position: absolute;
    width: 2.1rem;
    height: 0.48rem;
    opacity: 0;
    transform: scale(0.3);
    animation: move-chevron 3s ease-out infinite;
  }
  .chevron:first-child {
    animation: move-chevron 3s ease-out 1s infinite;
  }
  .chevron:nth-child(2) {
    animation: move-chevron 3s ease-out 2s infinite;
  }
  .chevron:before, .chevron:after {
    content: '';
    position: absolute;
    top: 0;
    height: 100%;
    width: 50%;
    background: #2c3e50;
  }
  .chevron:before {
    left: 0;
    transform: skewY(30deg);
  }
  .chevron:after {
    right: 0;
    width: 50%;
    transform: skewY(-30deg);
  }
  @keyframes move-chevron {
    25% {
      opacity: 1;
    }
    33.3% {
      opacity: 1;
      transform: translateY(2.28rem);
    }
    66.6% {
      opacity: 1;
      transform: translateY(3.12rem);
    }
    100% {
      opacity: 0;
      transform: translateY(4.8rem) scale(0.5);
    }
  }
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
  }
  .chevron {
    position: absolute;
    width: 2.1rem;
    height: 0.48rem;
    opacity: 0;
    transform: scale(0.3);
    animation: move-chevron 3s ease-out infinite;
  }
  .chevron:first-child {
    animation: move-chevron 3s ease-out 1s infinite;
  }
  .chevron:nth-child(2) {
    animation: move-chevron 3s ease-out 2s infinite;
  }
  .chevron:before, .chevron:after {
    content: '';
    position: absolute;
    top: 0;
    height: 100%;
    width: 50%;
    background: #2c3e50;
  }
  .chevron:before {
    left: 0;
    transform: skewY(30deg);
  }
  .chevron:after {
    right: 0;
    width: 50%;
    transform: skewY(-30deg);
  }
  @keyframes move-chevron {
    25% {
      opacity: 1;
    }
    33.3% {
      opacity: 1;
      transform: translateY(2.28rem);
    }
    66.6% {
      opacity: 1;
      transform: translateY(3.12rem);
    }
    100% {
      opacity: 0;
      transform: translateY(4.8rem) scale(0.5);
    }
  }

  .greyBanner {
    background-color: cadetblue;
  }
  .bannerClientLogos {
    background-color: #3F4367;
    min-height: calc(100vh - 500px);
    align-content: center;
  }
  .logosList {
    display: flex;
    flex-wrap: wrap;
  }
  .logosList::before {
    border-left: 2px solid #c4c4c4;
    position: absolute;
    content: '';
    bottom: 0;
    left: -15px;
    top: 0;
  }
  .crazyText {
    text-align: center;
    color: #f4f4f4;
  }