.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.app-body {
  /* background-color: #d3d6db; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* font-size: calc(10px + 2vmin); */
  color: white;
}

.app-loader {
  position: absolute;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navbar {
  background-color: #598ad3;
  height: 92px;
}
.footerContainer {
  padding: 0 60px;
  margin: 0 auto;
}
.block-copyright {
  padding: 28px 0;
}
.block-copyright .content {
  text-align: center;
}
.footer-bottom {
  background-color: #3f4367;
}
.content {
  font-size: 14px;
  color: #f9f9f9;
}

.navbar-expand-md .navbar-collapse {
  flex-grow: initial;
}